.creation
{
  text-align: center;
}

.sujets
{
  padding: var(--padding-thin);
  margin:var(--margin-large) 0;


  img
  {
    width:45px;
    height: 45px;


  }
  .ordi
  {
    height: 40px;
  }


}