.creation
{
  text-align: center;
}

.sujets
{
  padding: var(--padding-thin);
  margin:var(--margin-large) 0;


  img
  {
    width:45px;
    height: 45px;


  }
  .ordi
  {
    height: 40px;
  }


}

@media screen and (min-width: $vw-medium)
{

  .sujets
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    padding: var(--padding-thin);


    .sujet
    {
      width: 40%;
      margin-top: var(--margin-large);


    }
  }


}

@media screen and (min-width: $vw-huge)
{
  .sujets .sujet
  {
    width: 30%;





  }


}