:root
{

  /*couleurs de base*/
  --couleur-primaire:#ffffff;
  --couleur-secondaire:#000000;


  /*couleurs du projet*/
  /*couleurs d'arrière plan*/
  --couleur-arriere-fond-primaire:#FFFFFF;
  --couleur-arriere-fond-secondaire:#F0F0F0;
  --couleur-bg-tertiary:#202C4A;

  /*couleurs des liens*/
  --couleur-liens:#202C4A;
  --couleur-survol:#E53847;
  --couleur-liens-visite:#8B8B97;

  /*couleurs des textes*/
  --couleur-texte-primaire:#000000;
  --couleur-texte-secondaire:#FFFFFF;

  /*couleurs des boutons*/
  --couleur-bouton:linear-gradient(180deg, #62BDFC 0%, #8490FF 100%);

}