:root
{
  /*typographie*/
  --font-primaire:'Montserrat';
  --font-secondaire:'Sarabun';

  /*grosseur du texte*/
  --fz-normal:1rem;

  /*grosseur des titres*/
  --fz-h1:2.5rem;
  --fz-h2:2rem;
  --fz-h3:1.75rem;
  --fz-h4:1.5rem;

  /*hauteur de ligne*/
  --lh-extra-thin:1;
  --lh-thin:1.3;
  --lh-normal:1.5;
  --lh-medium:1.8;
  --lh-large:2;
  --lh-extra-large:2.4;


}