a
{
  &:link
  {
    color: var(--couleur-liens);
    text-decoration: none;

  }
  &:visited
  {
    color: var(--couleur-liens-visite);

  }
  &:hover
  {
    color: var(--couleur-survol);
    text-decoration: underline;

  }
  &:active
  {

  }
  &:focus
  {

  }
}